#animation {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
}

/*
---------------------------------------------------------------------------------------------
                                            Ogolne
---------------------------------------------------------------------------------------------
*/

body {
    font-family: 'Play', sans-serif;
    padding-top: 8vh;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
    line-height: 6rem;
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem;
}

h4 {
    font-size: 2rem;
    line-height: 3rem;
}

/*
---------------------------------------------------------------------------------------------
                                            Nawigacje
---------------------------------------------------------------------------------------------
*/

/*
    Burger
*/

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #f1bfa7;
}

.navbar-inverse .navbar-toggle {
    border-color: #212f3c;
    margin-right: 30px;
    margin-top: 13px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #253443;
}

/*
    Nav stuff start
*/

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0;
}

.navbar-inverse {
    display: block;
    border: none;
    background: #2c3e50;
    font-size: 1.5rem;
}

.navbar-inverse .navbar-nav>.active>a {
    border-bottom: 2px solid #F1BFA7;
    padding-bottom: 1rem;
    color: #E8F1FA;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: inherit;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #E8F1FA;
    border-bottom: 2px solid #F1BFA7;
    padding-bottom: 1rem;
}

.navbar-inverse .navbar-nav>li>a {
    color: #70879C;
    border-bottom: 2px solid transparent;
}

/*
---------------------------------------------------------------------------------------------
                                            Karuzela
---------------------------------------------------------------------------------------------
*/

.carusel img {
    width: 100vw;
    max-height: 92vh;
    object-fit: cover;
    -webkit-filter: grayscale(40%);
    -moz-filter: grayscale(40%);
    -ms-filter: grayscale(40%);
    -o-filter: grayscale(40%);
}


.carousel-caption p {
    font-size: 2rem;
}

/*
---------------------------------------------------------------------------------------------
                                            Nowosci
---------------------------------------------------------------------------------------------
*/

.nowosci {
    margin: 5rem 0;
    text-align: center;
}

.nowosci h2 {
    font-size: 4.5rem;
    line-height: 5.5rem;
}

.nowosci p {
    font-size: 2rem;
    line-height: 3rem;
    color: #a4abb3;
}

/*
---------------------------------------------------------------------------------------------
                                            Modalne
---------------------------------------------------------------------------------------------
*/

.panel-title {
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 200;
}

small {
    font-size: 1.5rem;
}

.kursy .glyphicon, .glyphicon-menu-down {
    color: #f1bfa7;
}

.panel-default .panel-heading {
    background-color: #fff;
    padding: 2rem 5rem;
}

.panel-body {
    padding: 2rem 5rem;
}

.heading:hover, .panel:hover {
    background: #fafafa;
    -webkit-transition: background-color 0.2s linear;
    border-radius: 4px;
}

.panel {
    border: 0;
    border-bottom: 2px solid #eaebec;
}

.heading {
    cursor: pointer;
}

#zobaczReszte {
    margin: 4rem auto;
    padding: 5px 40px;
    font-size: 2.5rem;
}

/*
---------------------------------------------------------------------------------------------
                                            Grafiki
---------------------------------------------------------------------------------------------
*/

.grafika {
    background: #2c3e50;
    color: #f4f4f4;
    padding: 3rem 1rem;
    border-radius: 5px;
    text-align: center;
}

/*
---------------------------------------------------------------------------------------------
                                            Statsy
---------------------------------------------------------------------------------------------
*/

#liczby {
    background: #bbbdbd;
    margin-bottom: 30px;
}

.stats {
    background: white;
    text-align: center;
    color: #bbbdbd;
}

.stats h2 {
    font-size: 7rem;
}

.stats p {
    font-size: 2rem;
}

/*
---------------------------------------------------------------------------------------------
                                            Zespol
---------------------------------------------------------------------------------------------
*/

#Zespol {
    margin: 6rem 0;
    text-align: center
}
#Zespol .btn:hover {
    background: #ff4242;
}
.btn-default {
    color: red;
    border-color: red;
}
.buttony {
    margin-bottom: 2.5rem;
}

#Zespol .glyphicon {
    color: #2c3e50;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: red;
}

/*
---------------------------------------------------------------------------------------------
                                            Wspolpracownicy
---------------------------------------------------------------------------------------------
*/

#Wspolpracownicy {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#Wspolpracownicy h5 {
    font-size: 2.5rem;
    margin-bottom: 8rem;
}

.img-center {
    margin: 0 auto;
}

/*
---------------------------------------------------------------------------------------------
                                            Technologie
---------------------------------------------------------------------------------------------
*/

.bricks {
    background-image: url("../images/klienci_tlo.jpg");
    max-width: 100vw;
}

.bricks h2 {
    color: white;
    margin: 6rem auto 3rem;
}

.bricks h5 {
    color: white;
    margin-bottom: 2rem;
}

.icons {
    margin-bottom: 6rem;
}

.icons img {
    margin: 0 auto;
}

/*
---------------------------------------------------------------------------------------------
                                            Promocje
---------------------------------------------------------------------------------------------
*/

#Promocje h3 {
    color: gray;
    font-size: 2rem;
}

#Promocje h4 {
    font-size: 2.5rem;
    line-height: 5rem;
}

#Promocja h5 {
    font-size: 40px;
}

/*
---------------------------------------------------------------------------------------------
                                            Kontakt
---------------------------------------------------------------------------------------------
*/

#Kontakt {
    margin: 3rem 0;
}

#Kontakt small {
    margin-left: 1rem;
    color: gray;
    line-height: 3rem;
}

/*
---------------------------------------------------------------------------------------------
                                            Footer
---------------------------------------------------------------------------------------------
*/

.footer-skew {
    background: #01080F;
    color: #CCD6E0;
    width:100%;
    height:13vh;
    position:relative;
}
.footer-skew:before{
    position:absolute;
    content:'';
    width:100%;
    height:110px;
    top:-60px;
    left:0;
    background:#01080F;
    transform: skewY(-3deg);

}

footer h5 {
    font-size: 2rem;
}

footer img {
    width: 40px;
}
